.diapo{
    border: solid 2px;
    border-color: black;
    position: relative;
    overflow: hidden;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    height: 700px;
    width: 1400px;
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 100%;
}

.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

/*Tablette*/
@media ( max-width : 991px) {

    .element{
        height: 350px;
        flex: 1 0 100%;
        position: relative;
    }
}

@media ( max-width : 768px) {

    .element{
        height: 220px;
        flex: 1 0 100%;
        position: relative;
    }
    .caption{
        font-size: 10px;
    }
}